.buttonContainer {
  background-color: var(--primary-color0);
  border: none;
  outline: none;
  border-radius: 16px;
  height: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.5s;
  width: 100%;


  &:hover {
    background-color: var(--primary-color2);
  }

  &:active {
    background-color: var(--primary-color1);
  }
}

.pulse {
  animation: pulsante 1.5s infinite;
}

@keyframes pulsante {
  0% {
    box-shadow: var(--primary-color0) 0 0 0 0;
  }

  100% {
    box-shadow: var(--primary-color000) 0 0 0 16px;
  }
}