.trucksContainer {
  padding-top: 80px;
  color: var(--primary-color2);
  margin: auto;
  max-width: 100%;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
  }
}