.postsFilterContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
  padding: 5px;
  flex-wrap: wrap;

  .filterContainer ul {
    display: flex;
    padding: 0 15px;
    justify-content: space-around;

    li {
      margin: 0 15px;
      display: flex;
      justify-content: center;
      align-items: end;
    }
  }

  .paginationContainer ul {
    display: flex;
    padding: 0 15px;
    justify-content: end;

    li {
      display: flex;
      justify-content: center;
      align-items: end;
    }
  }

}